@font-face {
    font-family: Bespoke;
    src: url(Public/Fonts/BespokeStencil-Variable.ttf);
}

@font-face {
    font-family: Ranade;
    src: url(Public/Fonts/Ranade-Regular.otf);
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    /* To Make Smooth Scrolling Transition*/
}

body {
    background: #111731;
    color: #fff;
    font-family: Ranade;
}

a {
    text-decoration: none;
}

.both-side-padding {
    padding-right: 5%;
    padding-left: 5%;
}



/* Navigation Section */
nav {
    width: 90%;
    position: fixed;
    background: #111731;
}

.Nav-list {
    display: flex;
    justify-content: flex-end;
    padding-top: 1%;
    padding-bottom: 1%;
}

.Nav-list a {
    font-size: 1.5rem;
    margin-left: 3rem;
    color: #fff;
    font-weight: 900;
}




/* Home section Start */
.Intro-section {
    display: flex;
    justify-content: space-between;
    
    padding-top: 10%;
    padding-bottom: 10%;
}

.Intro-Info {
    width: 55%;
    margin: auto 0px;
}

.Iam {
    font-size: 2rem;
    color: #A5A6B3F5;
    font-family: Bespoke;
    font-weight: 500;
    line-height: 5px;
}

.secondline {
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    font-family: Bespoke, Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
}

.dot {
    line-height: 6px;
    font-size: 5rem;
    font-weight: 900;
    color: #47A0FFF5;
}


.My-image {
    width: 45%;
}

.My-image img {
    width: 90%;
    border-radius: 25% 75% 41% 59% / 62% 32% 68% 38%;
    transition: width 0.5s ease-in-out;
}

#random-image :hover {
    width: 100%;
}




/* About Section Start */
.About {
    background: #000B18;
    display: flex;
}

.Animeted-gif {
    width: 45%;
    padding: 10% 0px;
}

.Animeted-gif img {
    width: 100%;
}

.About-info {
    width: 55%;
    margin: auto 0px;
    padding-left: 5%;
}

.about-Titel {
    font-family: Bespoke;
    font-size: 2rem;
    margin-bottom: 5%;
}

.about-paragraph {
    font-size: 1rem;
}














@media only screen and (max-width: 786px) {
    
    
    /* Nav Section */
    .Nav-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    
    .Nav-list a {
        font-size: 1rem;
        margin-left: 0px
    }
    
    
    
    
    
    /* Home Section */
    .Intro-section {
        display: block;
    }
    
    .Intro-Info {
        width: 100%;
        margin: 15% 0;
    }
    
    .Iam {
        font-size: 1.5rem;
        font-weight: 900;
    }
    
    .secondline {
        font-size: 2.5rem;
    }
    
    .My-image {
        width: 100%;
        padding: 15% 0;
        display: flex;
        justify-content: center;
    }
    
    .My-image img {
        margin: 0px auto;
    }
    
    .dot {
        font-size: 3rem;
    }
    
    
    
    
    
    /* About Section */
    .About {
        padding-top: 11%;
        display: block;
    }
    
    .Animeted-gif {
        width: 100%;
        display: flex;
        justify-items: center;
        padding-top: 0%;
        
    }
    
    .About-info {
        width: 100%;
        padding-left: 0px;
    }
    
    .about-Titel {
        text-align: center;
    }
}