/* Colours
    Grey         #5d637b
    Background   #101630
    Shadow       #4cb9dc    */


/* Normal Font Style */
@font-face {
    font-family: Ranade;
    src: url(Public/Fonts/Ranade-Regular.otf);
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    scroll-behavior: smooth;
    /* To Make Smooth Scrolling Transition*/
    font-size: 18px;
    background: #101630;
    color: #fff;
    font-family: Ranade;
    overflow-x: hidden;
}

/* Website Both Sides Space */
.both-side-padding {
    padding-right: 5%;
    padding-left: 5%;
}

a {
    text-decoration: none;
}


/* SCROLLING ANIMATION  */

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    
    to {
        opacity: 1;
        scale: 1;
    }
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-container .navbar-menu {
    display: flex;
    
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    /* padding: 3px 20px; */
    
    transition: all 0.7s ease;
    white-space: nowrap;
}


.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}


.navbar-container .navbar-menu li a:hover {
    color: #4cb9dc;
    filter: drop-shadow(0 0 10px #4cb9dc);
}




/* Home section Start */
.Intro-section {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Intro-Info {
    width: 55%;
}

.Iam {
    font-size: 1.75rem;
    color: #5d637b;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    line-height: 1;
}

.my-name {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-size: 3.55rem;
    line-height: 1;
}

.secondline {
    font-size: 2rem;
    color: #4cb9dc;
    font-weight: 500;
    line-height: 1;
    font-family: "Kanit", sans-serif;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(22, end) 0.5s infinite alternate;
}

@keyframes typing {
    from {
        width: 0
    }
    
    to {
        width: 20ch
    }
    
    /* adjust ch based on text length */
}





.My-image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.My-image img {
    width: 100%;
    height: 100%;
    border-radius: 51% 49% 50% 50% / 30% 30% 70% 70%;
    box-shadow: 0 0 10rem #4cb9dc;
    /* write 0, 0, to show shadow all side of img & elements*/
}




/* About Section Start */
.About {
    background: #101630;
    display: flex;
    padding-top: 11%;
    margin-bottom: 11%;
}

.Animeted-gif {
    width: 45%;
}

.Animeted-gif img {
    width: 100%;
    box-shadow: 0 0 1.5rem #4cb9dc;
    border-radius: 5%;
    transition: 0.5s linear;
}

.Animeted-gif img:hover {
    box-shadow: 0 0 3rem #4cb9dc;
}

.About-info {
    width: 55%;
    padding-left: 5%;
}

.about-Titel {
    font-family: "Kanit", sans-serif;
    font-size: 2rem;
    margin-bottom: 5%;
}

.about-paragraph {
    font-size: 1rem;
    color: #5d637b;
    font-size: 1rem;
}




/* Education Section Start */
.Education-titel {
    font-family: "Kanit", sans-serif;
    font-size: 2rem;
    padding-top: 11%;
    text-align: center;
}

.education-box {
    background: #5D637B40;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    margin: 5% 0px;
    box-shadow: 0 0 0.5rem #4cb9dc;
    transition: 0.5s linear;
}

.education-box:hover {
    box-shadow: 0 0 1.5rem #4cb9dc;
}

.education {
    border-left: 0.25rem solid #4cb9dc;
    padding-left: 0.5rem;
}

.education p,
h3 {
    font-size: 1.1rem;
}



.college {
    color: #5d637b;
}




/* Skills Section Start */
.Skills-titel {
    font-family: "Kanit", sans-serif;
    font-size: 2.25rem;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 100%;
}

h2 {
    color: #4cb9dc;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-left: 0.25rem solid #4cb9dc;
    padding-left: 0.5rem;
}

.column ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.column li {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;
    padding-right: 0.8rem;
    font-size: 2rem;
    background: #5D637B40;
    border-radius: 10px;
    transition: 0.3s linear;
}

.column li:hover {
    box-shadow: 0 0 0.75rem #4cb9dc;
}

.column li img {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}




/* Projects Section Start */
.Project-titel {
    font-family: "Kanit", sans-serif;
    font-size: 2rem;
    margin-bottom: 5%;
    text-align: center;
    padding-top: 11%;
}

.Project-box {
    display: flex;
    margin-bottom: 6%;
    width: 100%;
    border-radius: 20px;
    align-items: center;
}

.Project-img {
    width: 40%;
    display: flex;
    justify-content: center;
}

.Project-img img {
    width: 75%;
    box-shadow: 0 0 1.5rem #4cb9dc;
    border-radius: 20px;
    transition: 0.5s linear;
}

.Project-img img:hover {
    box-shadow: 0 0 3rem #4cb9dc;
}

.Project-info {
    width: 60%;
    padding: 1%;
}

.Project-no {
    color: #4cb9dc;
    font-weight: 100;
    font-size: 1rem;
}

.Project-name {
    margin: 2% 0px;
    font-size: 1.25rem;
}

.Project-discription {
    color: #5d637b;
    font-size: 1rem;
}

.Project-live a {
    color: #C90000;
    font-size: 1rem;
}



/* Contact Section */
.Contact-titel {
    font-family: "Kanit", sans-serif;
    font-size: 2rem;
    margin-bottom: 5%;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
}

.icon {
    height: 50px;
    width: 50px;
    background: #5D637B40;
    margin: 5%;
    border-radius: 50%;
    transition: all 0.3s linear;
}

.icon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem #4cb9dc;
}

.icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    height: 100%;
}

.icon a i {
    font-size: 2rem;
}

.icon a i:hover {
    color: #fff;
}



/* Footer Section */
footer {
    background: #42445A;
    width: 100%;
    text-align: center;
}






/* Responsive font-size media queries */

@media (max-width: 991px) {
    
    /* Tablet / Small Laptop*/
    html {
        font-size: 16px;
    }
}


@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }
    
    .navbar {
        box-shadow: none;
    }
    
    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        
    }
    
    .navbar-container .navbar-menu.active {
        display: flex;
    }
    
    .navbar-toggle {
        display: block;
        z-index: 999;
    }
    
    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 480px) {
    
    /* Small Mobile Screen */
    html {
        font-size: 10px;
    }
    
    .My-image {
        position: static;
    }
    
    .navbar-container {
        padding: 0 1rem;
    }
    
   
    
    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
    
     footer {
     font-size: 0.75rem;
 }
}



@media only screen and (max-width: 786px) {
    
    html {
        font-size: 14px;
    }
    

    
    
    
    /* Home Section */
    .Intro-section {
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 0%;
    }
    
    .Intro-Info {
        width: 100%;
    }
    
    .Iam {
        font-weight: 700;
    }
    
    .my-name {
        font-size: 3.46rem;
    }
    
    .secondline {
        font-size: 1.75rem;
    }
    
    .My-image {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .My-image {
        position: relative;
        bottom: 50px;
    }
    
    
    
    
    /* About Section */
    .About {
        padding-top: 11%;
        flex-wrap: wrap;
    }
    
    .Animeted-gif {
        width: 100%;
        margin: 0 auto;
        padding-top: 0%;
        display: flex;
        justify-content: center;
    }
    
    .Animeted-gif img {
        width: 75%;
    }
    
    .About-info {
        width: 100%;
        padding-left: 0px;
    }
    
    .about-Titel {
        margin: 5% 0;
        text-align: center;
    }
    
    
    
    
    /* Skills Section Start */
    
    /* Projects Section Start */
    .Project-box {
        flex-wrap: wrap;
        margin-bottom: 15%;
    }
    
    .project2 {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 15%;
    }
    
    .Project-img {
        width: 100%;
    }
    
    .Project-info {
        width: 100%;
    }
    
    .Project-live {
        margin-bottom: 5%;
    }
    
}

@media (orientation:landscape) {

    /* Mobile & Tablet landscape */
    html {
        font-size: 12px;
    }
    
    .Nav-list a {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .Intro-section {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    
    .Intro-Info {
        width: 50%;
    }
    
    .My-image {
        width: 35%;
        position: static;
    }
    
    
    
    
    .About {
        flex-wrap: nowrap;
        align-items: center;
    }
    
    .Animeted-gif {
        width: 40%;
        display: flex;
        justify-content: center;
    }
    
    .Animeted-gif img {
        width: 80%;
        height: 80%;
    }
    
    .about-Titel {
        margin: 0;
        margin-bottom: 5%;
    }
    
    
    
    
    .education-box {
        margin: 2% 0;
    }
    
    .Project-box {
        flex-wrap: nowrap;
    }
    
    .project2 {
        flex-direction: row;
    }
    
   
}