* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    /* To Make Smooth Scrolling Transition*/
}

body {
    background: #111731;
    color: #fff;
    font-family: Oswald;
}

a {
    text-decoration: none;
}

.both-side-padding {
    padding-right: 5%;
    padding-left: 5%;
}

nav {
    position: sticky;
    display: flex;
    justify-content: flex-end;
}

.Nav-list {
    padding-top: 2%;
    padding-bottom: 2%;
}

.Nav-list a {
    font-size: 1.5rem;
    margin-left: 3rem;
    color: #fff;
}

/* Intro section Start */

.Intro-section {
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 10%;
}

.Intro-Info {
    width: 55%;
}

.Iam {
    font-size: 2rem;
    color: #A5A6B3F5;
    font-weight: 900;
    padding-top: 50px;
}

.secondline {
    font-size: 4rem;
    color: #fff;
    font-weight: 900;
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
}

.dot {
    line-height: 6px;
    font-size: 100px;
    font-weight: 900;
    color: #47A0FFF5;
}


.My-image {
    width: 45%;
}

.My-image img {
    width: 90%;
    border-radius: 25% 75% 41% 59% / 62% 32% 68% 38%;
    transition: width 0.5s ease-in-out;
}

#random-image :hover {
    width: 100%;
}

/* About Section Start */

.About {
    background: #000B18;
    display: flex;
}

.Animeted-gif {
    width: 45%;
    margin: 10% 0px;
}

.Animeted-gif img {
    width: 100%;
}

.About-info{
    width: 55%;
    margin: auto 0px;
    padding-left: 5%;
}

.about-Titel {
    font-size: 2rem;
    margin-bottom: 5%;
}

.about-paragraph {
    font-size: 1rem;
}














@media only screen and (max-width: 786px) {
    
    .Nav-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .Nav-list a {
        font-size: 1rem;
        margin-left: 0px
    }
}